.page-header {
    background-image: url('../images/cloud-ai-head.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-color: white;
}
#page-header h1 {
    background-color: rgba(0, 0, 128, 0.5); /* Dark navy background with 50% opacity */
    color: white; /* Optional: to ensure text readability */
}
