.page-header {
    background-image: url('../images/c34e4bf4-2180-460b-8b20-767c6336ed54.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
