.page-header {
    position: relative;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-color: white;
}

.page-header::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../images/cloud-ai-head.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.5; /* Adjust the opacity as needed */
    z-index: -1;
}
